body{
    background-color: #fef08a;
}
:root{
    --primary-color: #a78bfa;
    --dark-gray: rgb(156 163 175);
    --light-gray:#e2e8f0;
}

.section{
    padding: 1rem;
}


textarea{
    width: 50%;
    height: 50%;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

#output{
    height: 60%;
    width: 50%;
    border: 1px solid black;
    padding: 1rem;
    margin:1rem;
    font-size: large;
}

.footer{
    
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
